
  @font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: bold;
    src: url("font/iranyekanwebbold.eot");
    src: url("font/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("font/iranyekanwebbold.woff2") format("woff2"), url("font/iranyekanwebbold.woff") format("woff"), url("font/iranyekanwebbold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: normal;
    src: url("font/iranyekanwebregular.eot");
    src: url("font/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), url("font/iranyekanwebregular.woff2") format("woff2"), url("font/iranyekanwebregular.woff") format("woff"), url("font/iranyekanwebregular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 300;
    src: url("font/iranyekanweblight.eot");
    src: url("font/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("font/iranyekanweblight.woff2") format("woff2"), url("font/iranyekanweblight.woff") format("woff"), url("font/iranyekanweblight.ttf") format("truetype");
  }

  @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 300;
    src: url("font/Vazir.eot");
    src: url("font/Vazir.eot?#iefix") format("embedded-opentype"), url("font/Vazir.woff2") format("woff2"), url("font/Vazir.woff") format("woff"), url("font/Vazir.ttf") format("truetype");
  }
