@media screen and (min-width:1000px){
  body{
    background-size:45%;
    background-repeat:no-repeat;
    background-image:url('Florence.jpg');
    background-position: top left;
    color:black;
    font-size:15px;

  }
  h1,summary{
      font-size:30px;
      
  }
  li,.li{
    margin-top:10px;
    padding:10px;
    background:unset;
    border-radius:unset;
    max-width:50%;
  }
  hr{
    max-width:50%;
    margin-left:50%;
  }
  summary.subone{
    color:black;
  }
  summary.subtwo{
   
    color:darkred;
  }
}