
$rootFontSize:10px;
$mobileBodyFontSize:1.5rem;

*{
  direction:rtl;
  font-family:yekan;
}
html{
  font-size:$rootFontSize;
}
h1{font-size:10rem;}
body{
  font-size:$mobileBodyFontSize;
  max-width:80vw;
  margin:5vw auto;
  line-height:1.2;
  background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('Florence.jpg');
  color:rgba(255,255,255,0.9);
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;

  
}
summary{
  line-height:2;
  font-size:5rem;
  cursor:pointer;
}
summary.subone{
  font-size:2rem;
  font-weight:bold;
  color:lightblue;
}
summary.subtwo{
  font-size:1.6rem;
  font-weight:light;
  color:lightgreen;
}
p{
  text-align:right;
}
li{
  margin-top:30px;
  list-style:decimal outside;
  padding:25px;
  background:rgba(0,0,0,0.4);
  border-radius:5px;
  font-family: Vazir;
}
@import "font";
@import "responsive";

